<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Home</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <div class="container mt-3  d-flex flex-row ">
            <% blogs.forEach(blog=> { %>
                <div class="card me-3" style="width: 18rem;">
                    <img src="<%=blog.coverImageURL%>" class="card-img-top" height="200px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= blog.title %>
                        </h5>
                        <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read </a>
                    </div>
                </div>
                <% }) %>
        </div>

        <%- include('./partials/scripts') %>
</body>

</html>